*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #FEF0E8;
}

.nav-bar{
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0%;
    left: 0%;
    background-color: white;
    z-index: 5;
}

.nav-bar .nav-links{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 40%;
    display: flex;
    font-family: 'Ubuntu', sans-serif; 
    color: #D6A49A;
    text-transform: capitalize;
    text-align: center;
}

.nav-bar .nav-links .link{
    position: relative;
    margin: 5% 4% 0% 4%;
    font-weight: 700;
    text-decoration: none;
    color: #D6A49A;
}

.nav-bar .nav-links .link:hover{
    transform: scale(1.2);
}

.nav-bar .logo{
    position: relative;
    top: 0%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.nav-bar .logo .logo-img{
    position: relative;
    width: 34%;
    margin: 0% 33% 0% 33%;
}

.nav-bar .socials{
    position: fixed;
    right: 0%;
    top: 5%;
    width: 20%;
    height: 15%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.nav-bar .socials a{
    position: relative;
    width: 60%;
    margin: 0% 20% 5% 20%;
}

.nav-bar .socials .social-img{
    position: relative;
    width: 100%;
}

.nav-bar .socials .social-img:hover{
    transform: scale(1.2);
}

.landing-section{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0%;
    top: 0%;
    left: 0%;
    padding: 0%;
}

.landing-section .img-container{
    position: relative;
    width: 100%;
    height: 90%;
    margin: 0%;
    padding: 0%;
    top: 10%;
    left: 0%;
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-direction: alternate;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}


@keyframes FadeInOut {
    0%{
        background-image: url("../images/sign-lrg.jpg");
    }

    33.333%{
        background-image: url("../images/main-room-lrg.jpg");
    }

    66.666%{
        background-image: url("../images/main-room-back-lrg.jpg");
    }

    100%{
        background-image: url("../images/front-entrance-lrg.jpg");
    }
}

.landing-section .side-book-btn{
    position: fixed;
    top: 35%;
    right: 0%;
    padding: 3% 1% 3% 1%;
    background-color: #D6A49A;
    z-index: 3;
    animation-name: BookBtn;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.landing-section .side-book-btn:active{
    transform: scale(0.9);
    background-color: #FEF0E8;
}

@keyframes BookBtn {
    from{
        transform: scale(0.9);
    }

    to{
        transform: scale(1.1);
    }
}

.landing-section .side-book-btn .book-link{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.landing-section .intro{
    position: fixed;
    top: 30%;
    left: 3%;
    width: 25%;
    background-color: #FEF0E8;
    padding: 2% 2% 3% 2%;
    opacity: 90%;
    box-shadow: #D6A49A 30px -30px 0px 0px;
}

.landing-section .intro h1{
    position: relative;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    margin: 2%;
}

.landing-section .intro .name{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    font-size: 1.3em;
}

.landing-section .intro p{
    font-size: 1.2em;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    line-height: 155%;
}

.landing-section .down-arrow{
    position: fixed;
    bottom: 2%;
    left: 44%;
    width: 6%;
    animation-name: UpDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes UpDown {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-30%);
    }
}

.landing-section .down-arrow .arrow{
    position: relative;
    width: 50%;
    margin-left: 50%;
}

.landing-section .branding{
    position: absolute;
    bottom: 0%;
    right: 0%;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 2% 2% 0% 2%;
    font-size: 0.9em;
}

.mid-section{
    position: absolute;
    margin: 100% 0% 0% 0%;
    padding: 3% 0% 3% 0%;
    z-index: 7;
    background-color: #FEF0E8;
    top: 0%;
    left: 0%;
    right: 0%;
}

.about{
    position: relative;
}

.about h2{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 2.2em;
    border-left: #D6A49A 5px solid;
    padding-left: 2%;
    margin: 0% 7% 0% 7%;
}

.about .welcoming{
    position: relative;
    padding: 0% 3% 1% 3%;
    margin: 0% 7% 0% 7%;
}

.about .welcoming h3{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.7em;
}

.about .welcoming p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.2em;
}

.about .about-btns-container{
    position: relative;
    margin: 0%;
    background-color: #D6A49A;
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
}

.about .about-btns-container .about-btn{
    position: relative;
    text-align: center;
}

.about .about-btns-container .about-btn:hover{
    background-color: #8A4D47;
    color: #FEF0E8;
    transform: scale(1.1);
}

.about .about-btns-container .about-btn h4{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
}

.about .about-btns-container .about-btn .about-img{
    position: relative;
    width: 20%;
    margin: 1% 40% 1% 40%;
}

.about .about-btns-container .about-btn .text-link{
    position: relative;
    color: #FEF0E8;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1.2em;
}

.about .about-info-container{
    position: relative;
    background-color: #8A4D47;
    margin: 0%;
}

.about .about-info-container .his-info{
    position: relative;
    padding: 1% 7% 1% 7%;
    text-align: center;
    display: none;
}

.about .about-info-container .his-info h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    color: #D6A49A;
}

.about .about-info-container .his-info p{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;
}

.about .about-info-container .his-info .close{
    color: #D6A49A;
}

.about .about-info-container .exp-info{
    position: relative;
    padding: 1% 7% 1% 7%;
    text-align: center;
    display: none;
}

.about .about-info-container .exp-info h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    color: #D6A49A;
}

.about .about-info-container .exp-info p{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;
}

.about .about-info-container .exp-info .close{
    color: #D6A49A;
}

.about .about-info-container .sln-info{
    position: relative;
    padding: 1% 7% 1% 7%;
    text-align: center;
    display: none;
}

.about .about-info-container .sln-info h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    color: #D6A49A;
}

.about .about-info-container .sln-info p{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;
}

.about .about-info-container .sln-info .close{
    color: #D6A49A;
}

.about .about-info-container .info h4{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    color: #D6A49A;
    font-size: 1.3em;
}

.about .about-info-container .info p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    color: #FEF0E8;
    font-size: 1em;
}
/* font-family: 'Great Vibes', cursive;
font-family: 'Ubuntu', sans-serif; */