*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #FEF0E8;
}

.name{
    font-family: 'Great Vibes', cursive;
    font-size: 1.3em;
    font-weight: 700; 
    color: #612C2A;
}

.hidden{
    color: transparent;
}

/* --- NAVBAR --- */
.menu-bar{
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0%;
    left: 0%;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 0px 4px 4px rgb(107, 105, 105);
    display: grid;
    grid-template-columns: 20% 70% 10%;
}

.menu-bar .menu{
    position: relative;
    margin: 35% 10% 0% 0%;
    width: 80%;
    z-index: 10;
}

.menu-bar .salon-logo{
    position: relative;
    width: 100%;
    margin: 5% 0% 0% 5%;
}

.menu-bar .salon-logo .logo-img{
    position: relative;
    width: 100%;
}

.nav-bar{
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0%;
    right: 0%;
    padding:  10% 0% 0% 0%;
    background-color: white;
    z-index: 15;
    box-shadow: 0px 0px 4px 4px rgb(107, 105, 105);
}

.nav-bar .logo{
   display: none;
}

.nav-bar .logo .logo-img{
    display: none;
}

.nav-bar .nav-links{
    margin-top: 10%;
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif; 
    color: #D6A49A;
    text-transform: capitalize;
    text-align: center;
}

.nav-bar .nav-links .link{
    position: relative;
    margin: 3% 4% 10% 4%;
    font-weight: 700;
    text-decoration: none;
    color: #D6A49A;
    font-size: 1.4em;
}

.nav-bar .nav-links .link:hover{
    transform: scale(1.2);
}

.nav-bar .social-heading{
    text-align: center;
    color: #D6A49A;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: underline;
    margin-top: 10%;
}

.nav-bar .socials{
    position: relative;
    width: 50%;
    display: grid;
    margin: 15% 25% 0% 25%;
    grid-template-columns: 100%;
}

.nav-bar .socials a{
    position: relative;
    width: 50%;
    margin: 0% 25% 20% 25%;
}

.nav-bar .socials .social-img{
    position: relative;
    width: 100%;
}

.nav-bar .socials .social-img:hover{
    transform: scale(1.2);
}


/* --- LANDING SECTION --- */

.landing-section{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0%;
    top: 0%;
    left: 0%;
    padding: 0%;
}

.landing-section .img-container{
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    top: 0%;
    left: 0%;
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-direction: alternate;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}


@keyframes FadeInOut {
    0%{
        background-image: url("../images/entrance-small.jpg");
    }

    33.333%{
        background-image: url("../images/main-room-front-small.jpg");
    }

    66.666%{
        background-image: url("../images/main-room-back-small.jpg");
    }

    100%{
        background-image: url("../images/salon-corridor-small.jpg");
    }
}

.landing-section .side-book-btn{
    position: fixed;
    top: 35%;
    right: 0%;
    padding: 5% 3% 5% 3%;
    background-color: #D6A49A;
    z-index: 3;
    animation-name: BookBtn;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.landing-section .side-book-btn:active{
    transform: scale(0.9);
    background-color: #FEF0E8;
}

@keyframes BookBtn {
    from{
        transform: scale(0.9);
    }

    to{
        transform: scale(1.1);
    }
}

.landing-section .side-book-btn .book-link{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #FEF0E8;
    text-transform: capitalize;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.3em;
}

.landing-section .intro{
    position: fixed;
    top: 25%;
    left: 5%;
    width: 50%;
    background-color: #FEF0E8;
    padding: 2% 2% 3% 2%;
    opacity: 90%;
    box-shadow: #D6A49A 20px -20px 0px 0px;
}

.landing-section .intro h1{
    position: relative;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    margin: 2% 2% 2% 2%;
    font-size: 1.4em;
    font-weight: 700;
}

.landing-section .intro p{
    font-size: 1.3em;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    line-height: 155%;
    margin-top: 4%;
}

.landing-section .down-arrow{
    position: fixed;
    bottom: 5%;
    left: 50%;
    width: 10%;
    animation-name: UpDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes UpDown {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-30%);
    }
}

.landing-section .down-arrow .arrow{
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.landing-section .branding{
    position: absolute;
    bottom: 0%;
    right: 0%;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 0% 2% 0% 2%;
    font-size: 0.5em;
}


/* --- MID SECTION --- */


.mid-section{
    position: absolute;
    margin: 200% 0% 0% 0%;
    padding: 3% 0% 0% 0%;
    z-index: 7;
    background-color: #FEF0E8;
    width: 100%;
}


/* --- ABOUT --- */


.about{
    position: relative;
    padding-top: 2%;
}

.about h2{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    border-left: #D6A49A 5px solid;
    padding-left: 2%;
    margin: 2% 7% 5% 7%;
}

.about .welcoming{
    position: relative;
    padding: 0% 5% 10% 5%;
    margin: 0% 6% 0% 6%;
}

.about .welcoming .intro{
    position: relative;
}

.about .welcoming .welcoming-img{
    position: relative;
    width: 80%;
    margin: 2% 0% 2% 10%;
}

.about .welcoming h3{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 4%;
}

.about .welcoming p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.4em;
    line-height: 150%;
    word-spacing: 100%;
}

.about .about-btns-container{
    position: relative;
    margin: 0%;
    background-color: #D6A49A;
    display: grid;
    grid-template-columns: 100%;
}

.about .about-btns-container .his-btn{
    position: relative;
    text-align: center;
    padding: 10%;
    background-color: #D6A49A;
    cursor: pointer;
}

.about .about-btns-container .his-btn:hover{
    background-color: #8A4D47;
    color: #FEF0E8;
    transform: scale(1.1);
    z-index: 7;
}

.about .about-btns-container .his-btn h4{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 1.8em;
}

.about .about-btns-container .his-btn .about-img{
    position: relative;
    width: 26%;
    margin: 1% 37% 1% 37%;
}

.about .about-btns-container .his-btn .text-link{
    position: relative;
    color: #FEF0E8;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1.2em;
}

.about .about-info-container{
    position: relative;
    background-color: #8A4D47;
    margin: 0%;
    display: none;
}

.about .about-btns-container .his-info-mobile{
    position: relative;
    width: 100%;
    padding: 1% 7% 1% 7%;
    text-align: center;
    display: none;
    background-color: #8A4D47;
}

.about .about-btns-container .his-info-mobile .his-his{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0%;
}

.about .about-btns-container .his-info-mobile h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    text-decoration: underline;
    color: #D6A49A;
    margin-bottom: 5%;
    margin-top: 10%;
}

.about .about-btns-container .his-info-mobile p{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;
    font-size: 1.3em;
    line-height: 150%;
    word-spacing: 100%;
    text-align: center;
    margin-left: 0%;
}

.about .about-btns-container .his-info-mobile .his-img{
    position: relative;
    width: 90%;
    margin: 0% 5% 0% 5%;
    border-radius: 10%;
}

.about .about-btns-container .his-info-mobile .his-img:hover{
    transform: scale(1.2);

}

.about .about-btns-container .his-info-mobile .close{
    color: #D6A49A;
    font-size: 1.2em;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
}


.about .about-btns-container .exp-btn{
    position: relative;
    text-align: center;
    padding: 10%;
    cursor: pointer;
}

.about .about-btns-container .exp-btn:hover{
    background-color: #8A4D47;
    color: #FEF0E8;
    transform: scale(1.1);
    z-index: 7;
}

.about .about-btns-container .exp-btn h4{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 1.8em;
}

.about .about-btns-container .exp-btn .about-img{
    position: relative;
    width: 26%;
    margin: 1% 37% 1% 37%;
}

.about .about-btns-container .exp-btn .text-link{
    position: relative;
    color: #FEF0E8;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1.2em;
}

.about .about-btns-container .exp-info-mobile{
    position: relative;
    padding: 1% 7% 1% 7%;
    text-align: center;
    display: none;
    background-color: #8A4D47;
}

.about .about-btns-container .exp-info-mobile .exp-exp{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.about .about-btns-container .exp-info-mobile h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    text-decoration: underline;
    color: #D6A49A;
    margin-bottom: 5%;
    margin-top: 10%;
}

.about .about-btns-container .exp-info-mobile p{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;
    font-size: 1.3em;
    line-height: 150%;
    word-spacing: 100%;
}

.about .about-btns-container .exp-info-mobile .exp-img{
    position: relative;
    width: 90%;
    margin: 0% 5% 0% 5%;
    border-radius: 10%;
}

.about .about-btns-container .exp-info-mobile .exp-img:hover{
    transform: scale(1.2);
}

.about .about-btns-container .exp-info-mobile .close{
    color: #D6A49A;
    font-size: 1.2em;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5%;
}


.about .about-btns-container .sln-btn{
    position: relative;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.about .about-btns-container .sln-btn:hover{
    background-color: #8A4D47;
    color: #FEF0E8;
    transform: scale(1.1);
    z-index: 7;
}

.about .about-btns-container .sln-btn h4{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 1.8em;
}

.about .about-btns-container .sln-btn .about-img{
    position: relative;
    width: 26%;
    margin: 1% 37% 1% 37%;
}

.about .about-btns-container .sln-btn .text-link{
    position: relative;
    color: #FEF0E8;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1.2em;
}

.about .about-btns-container .sln-info-mobile{
    position: relative;
    padding: 1% 7% 1% 7%;
    text-align: center;
    display: none;
    background-color: #8A4D47;
}

.about .about-btns-container .sln-info-mobile .sln-sln{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0%;
}

.about .about-btns-container .sln-info-mobile h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    text-decoration: underline;
    color: #D6A49A;
    margin-bottom: 5%;
    margin-top: 10%;
}

.about .about-btns-container .sln-info-mobile p{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;
    font-size: 1.3em;
    line-height: 150%;
    word-spacing: 100%;
    text-align: center;
    margin-left: 0%;
}

.about .about-btns-container .sln-info-mobile .sln-img{
    position: relative;
    width: 90%;
    border-radius: 10%;
    margin: 1% 5% 1% 5%;
}

.about .about-btns-container .sln-info-mobile .sln-img:hover{
    transform: scale(1.2);

}

.about .about-btns-container .sln-info-mobile .homestead-link{
    font-family: 'Ubuntu', sans-serif;
    color: #FEF0E8;    
}

.about .about-btns-container .sln-info-mobile .close{
    color: #D6A49A;
    font-size: 1.3em;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5%;
}

.about .about-btns-container .info h4{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    color: #D6A49A;
    font-size: 1.3em;
}

.about .about-btns-container .info p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    color: #FEF0E8;
    font-size: 1em;
}


/* --- TREATMENTS --- */

.treatments{
    position: relative;
    padding: 4% 7% 1% 7%;
}

.treatments h2{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    border-left: #D6A49A 5px solid;
    padding-left: 2%;
    margin-bottom: 4%;
}

.treatments p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.2em; 
}

.treatments .pricelist-link{
    position: relative;
    text-align: center;
    font-size: 1.1em;
    color: #8A4D47;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700;
}

.treatments .treatment-preview{
    position: relative;
    margin: 0% 0% 5% 0%;
    width: 100%;
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
}

.treatments .treatment-preview .cards{
    position: relative;
    width: 100%;
}

.treatments .treatment-preview .cards .treatment-imgs{
    position: relative;
    width: 100%;
}

.treatments .treatment-preview .cards .desc{
    position: relative;
    width: 100%;
    font-family: 'Ubuntu', sans-serif; 
    background-color: #612C2A;
    color: #FEF0E8;
    text-transform: capitalize;
    padding: 1%;
    margin: 0%;
}


/* --- MEMBERSHIP --- */


.membership{
    position: relative;
    padding: 4% 7% 1% 7%;
}

.membership h2{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    border-left: #D6A49A 5px solid;
    padding-left: 2%;
    margin-bottom: 4%;
}

.membership p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.2em; 
}


/* --- GALLERY --- */
.gallery{
    position: relative;
    padding: 4% 7% 1% 7%;
}

.gallery h2{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    border-left: #D6A49A 5px solid;
    padding-left: 2%;
    margin-bottom: 4%;
}

.gallery .img-container{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
}

.gallery .img-container .imgs{
    position: relative;
    width: 100%;
}

.gallery .img-container .imgs:hover{
    transform: scale(1.3);
    z-index: 5;
}


/* --- CONTACT --- */


.contact{
    position: relative;
    padding: 4% 7% 4% 7%;
}

.contact h2{
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    border-left: #D6A49A 5px solid;
    padding-left: 2%;
    margin-bottom: 4%;
}

.contact p{
    position: relative;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    font-size: 1.2em; 
}

.contact .contact-info{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact .contact-info .social-info{
    position: relative;
}

.contact .contact-info h3{
    font-family: 'Ubuntu', sans-serif; 
    text-decoration: underline;
    color: #8A4D47;
    font-size: 1.5em;
}

.contact .contact-info .social-info a{
    font-family: 'Ubuntu', sans-serif; 
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}

.contact .contact-info .social-info .contact-socials{
    width: 50%;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.contact .contact-info .social-info .contact-socials .social-img{
    position: relative;
    width: 60%;
    margin: 1% 30% 1% 5%;
}

.contact .contact-info .social-info .contact-socials .social-img:hover{
    transform: scale(1.2);
}

/* --- FOOTER --- */

.footer{
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    width: 100%;
    padding: 2% 1% 1% 1%;
    box-shadow: 6px 0px 4px 4px rgb(107, 105, 105);
}

.footer .footer-logo{
    position: relative;
    width: 100%;
    cursor: pointer;
}

.footer .footer-logo .logo-img{
    position: relative;
    width: 50%;
    margin: 0% 25% 0% 25%;
}

.footer .footer-links{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #D6A49A;
}

.footer .footer-links a{
    color: #D6A49A;
    text-decoration: none;
}

.footer .footer-links a:hover{
    transform: scale(1.2);
}

.footer .footer-socials{
    margin-top: 7%;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer .footer-socials a{
    position: relative;
    width: 70%;
    margin: 0% 15% 10% 15%;
}

.footer .footer-socials .social-img{
    position: relative;
    width: 100%;
}

.footer .footer-socials .social-img:hover{
    transform: scale(1.2);
}

.footer .branding{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.footer .blank{
    color: transparent;
}

.footer .creator{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 7%;
    color: #8A4D47;
    font-weight: 700;   
}



/* MEDIA QUERIES */

/*--- TABLETS AND IPAD VIEWS ---*/


/*--- LAPTOPS AND DESKTOPS ---*/

